Source: gsfonts
Section: text
Priority: optional
Maintainer: Masayuki Hatta (mhatta) <mhatta@debian.org>
Build-Depends: debhelper (>= 4.0.0), sharutils
Standards-Version: 3.8.0
Uploaders: Torsten Landschoff <torsten@debian.org>
Homepage: http://www.ghostscript.com/
Vcs-Svn: svn://svn.debian.org/svn/pkg-gs/gsfonts/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-gs/gsfonts/trunk/


Package: gsfonts
Architecture: all
Conflicts: gs (<< 5.50-5), gs-aladdin (<< 6.50-4), gsfonts-x11 (<< 0.13)
Description: Fonts for the Ghostscript interpreter(s)
 These are free look-alike fonts of the Adobe PostScript fonts.
 Recommended for all flavors of Ghostscript (gs-gpl, gs-afpl and gs-esp).
